* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -os-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  perspective: 400px;
}
body {
  font-family: "Simonetta", cursive;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
}
body button {
  outline: none !important;
  text-transform: capitalize !important;
}

/*start site elements color*/
$main-color: #f47371;
$second-color: #62e3b6;
$p-color: #ddd;
$h-color: #fff;
$main-font: 16px;
/*end site elements color*/

%main-div {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
%over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6) !important;
}
%button {
  margin: 20px auto;
  border: 1px solid $h-color;
  width: 120px;
  padding: 8px;
  background-color: transparent;
  color: $h-color;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $second-color;
    border-color: $second-color;
    a {
      color: $h-color;
    }
  }
}

@mixin transition($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin border-R($b) {
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
  -ms-border-radius: $b;
  -o-border-radius: $b;
  border-radius: $b;
}

/*end fram work to this site*/
/*this style for ffbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $second-color;
  border: none;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $second-color;
  @include transition(1s);
}

/*start navbar style*/
nav {
  width: 100%;
  height: 100vh;
  /* background: #1D1313; */
  position: absolute;
  overflow: hidden;

  span.menu {
    z-index: 99999;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 35px;
    height: 4px;
    background: $second-color;
    cursor: pointer;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      height: 4px;
      width: 35px;
      background: $second-color;
    }

    &:before {
      top: -8px;
    }

    &:after {
      bottom: -8px;
    }
  }

  .overlay {
    position: absolute;
    bottom: -100%;
    height: 100%;
    background: #30c4c9;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 9999;

    &.anim {
      left: 0;
      bottom: 0;
      animation: menu-anim 1.5s 1 ease-out normal;
      -webkit-animation: menu-anim 1.5s 1 ease-out normal;
      -moz-animation: menu-anim 1.5s 1 ease-out normal;
      width: 25%;
      position: fixed;
      transition: all 0.5s ease;
      @media (max-width: 767px) {
        width: 50%;
      }

      &.reverse-anim {
        left: 0;
        bottom: 0;
        animation: menu-anim 1.5s 1 ease-out reverse;
        -webkit-animation: menu-anim 1.5s 1 ease-out reverse;
        -moz-animation: menu-anim 1.5s 1 ease-out reverse;
        width: 25%;
        transition: all 0.5s ease;
      }
    }

    ul {
      width: 100%;
      text-align: center;
      margin-top: 100px;
      padding-left: 0;
      margin-left: -10px;
      font-size: 2em;
      font-weight: 800;

      li {
        margin: 10px 0;

        a {
          text-decoration: none;
          color: white;
          position: relative;
          display: inline-block;
          padding: 10px 0;
          overflow: hidden;
          margin-top: -22px;
          font-size: $main-font + 9px;

          &:after {
            display: block;
            border-radius: 2px;
            content: "";
            left: 0;
            bottom: -10px;
            height: 5px;
            background: #ffffff;
            transform: translateX(-101%);
          }

          &:hover {
            text-decoration: none;

            &:after {
              animation: border-anim 0.5s 1 ease normal;
              -webkit-animation: border-anim 0.5s 1 ease normal;
              -moz-animation: border-anim 0.5s 1 ease normal;
              transform: translateX(0);
            }
          }
        }

        @-webkit-keyframes border-anim {
          0% {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
          }

          100% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
          }
        }
      }
    }
  }

  @-webkit-keyframes menu-anim {
    0% {
      left: 0;
      bottom: -99%;
      width: 100%;
    }

    33% {
      left: -99.5%;
      bottom: -99%;
      width: 100%;
    }

    66% {
      left: -99.5%;
      bottom: 0;
      width: 100%;
    }

    100% {
      bottom: 0;
      left: 0;
      width: 25%;
    }
  }
}

/* start header elements style*/
header {
  @extend %main-div;
  min-height: 580px;
  background-image: url(../img/7.jpg);
  clip-path: polygon(100% 0, 100% 80%, 80% 87%, 65% 84%, 20% 99%, 0 82%, 0 0);
  -webkit-clip-path: polygon(
    100% 0,
    100% 80%,
    80% 87%,
    65% 84%,
    20% 99%,
    0 82%,
    0 0
  );
  overflow: hidden;
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.8) !important;
  }
  .container {
    .row {
      .col-sm-12 {
        /*?media for small screen*/
        @media (max-width: 768px) {
          text-align: center;
        }
        h3 {
          padding-top: 100px;
          text-transform: uppercase;
          font-weight: bold;
          color: $h-color;
          letter-spacing: 2px;
        }
        span {
          display: block;
          color: $p-color;
          text-transform: capitalize;
        }
        button {
          @extend %button;
          @include transition(0.2s);
          @include border-R(10px);
          outline: none;
          margin: 15px 5px;

          a {
            text-decoration: none;
            color: $p-color;
            @include transition(0.2s);
          }
        }
        button.one {
          background-color: $second-color !important;
          border-color: $second-color !important;
          a {
            color: $h-color !important;
          }
        }
      }
      .col-sm-12.for-down {
        text-align: center;
        display: -webkit-box;
        .down {
          margin: 50px auto;

          margin-left: calc(50% - 15px);
          text-align: center;
          position: relative;
          @media (max-width: 575px) {
            margin-bottom: 100px;
          }
          button {
            overflow: hidden;
            width: 30px;
            height: 70px;
            @include border-R(20px);
            outline: none;
            background-color: transparent;
            border: 1px solid $h-color;

            i {
              font-size: $main-font + 5px;
              color: $p-color;
              -webkit-animation: down 1.5s ease-in-out infinite;
              -moz-animation: down 1.5s ease-in-out infinite;
              animation: down 1.5s ease-in-out infinite;
            }
          }
        }
      }
    }
  }
}
/*start animation for header icon*/
@-webkit-keyframes down {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  50% {
    margin-top: -10px;
    text-shadow: 0 7px 0 #eee;
    opacity: 0.5;
  }
  100% {
    text-shadow: 0 -9px 0 #eee;
    margin-top: -15px;
    opacity: 0.9;
  }
}
@-moz-keyframes down {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  50% {
    margin-top: -10px;
    text-shadow: 0 7px 0 #eee;
    opacity: 0.5;
  }
  100% {
    text-shadow: 0 -9px 0 #eee;
    margin-top: -15px;
    opacity: 0.9;
  }
}
@keyframes down {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  50% {
    margin-top: -10px;
    text-shadow: 0 7px 0 #eee;
    opacity: 0.5;
  }
  100% {
    text-shadow: 0 -9px 0 #eee;
    margin-top: -15px;
    opacity: 0.9;
  }
}

/*start about div elements style*/
.about {
  min-height: 550px;
  position: relative;
  @extend %main-div;
  .container {
    h3 {
      text-transform: capitalize;
      letter-spacing: 1;
      padding-top: 90px;
      text-align: center;
      margin: -auto;
    }
    span.style {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $main-font - 4px;
      display: block;
      padding: 0 0 30px 0;
      text-align: center;
    }
    .row {
      .col-sm-12 {
        margin-top: 50px;
        .main-con {
          width: 90%;
          margin-left: calc(5%);
          text-align: center;
          @include transition(0.2s);

          &:hover {
            box-shadow: 0 1px 20px #ddd;
            -webkit-box-shadow: 0 1px 20px #ddd;
            -moz-box-shadow: 0 1px 20px #ddd;
            button {
              background-color: $second-color;
              i {
                color: $h-color;
              }
            }
          }

          button {
            width: 50px;
            height: 50px;
            @include border-R(50%);
            @include transition(0.2s);
            border: 1px solid $second-color;
            background-color: transparent;
            margin-top: 20px;
            text-align: center;
            i {
              font-size: $main-font + 3px;
              color: $second-color;
            }
          }
          h4 {
            padding: 10px 0 0 0;
            text-align: center;
          }
          span {
            display: block;
            width: 95%;

            margin: 0 auto;
            text-transform: capitalize;
            line-height: 1.5;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
/*start about-info div elements style*/
.about-info {
  margin-top: 300px;
  @extend %main-div;
  min-height: 600px;
  background-image: url(../img/8.jpg);
  background-attachment: fixed;
  .over {
    @extend %over;
    overflow: auto !important;
    background-color: rgba($main-color, 0.8) !important;
  }
  .container {
    .row.row-one {
      position: relative;
      width: 90%;
      margin-left: 5%;
      top: -150px;
      background-color: $second-color;
      min-height: 300px;
      .col-md-7 {
        .main {
          padding: 50px 0 20px 0;
          h4 {
            text-align: left;
            color: $h-color;
            text-transform: capitalize;
          }
          span {
            display: block;
            text-align: left;
            padding: 5px 0 -5px 0;
            color: #eee;
            text-transform: capitalize;
          }
          button {
            @extend %button;
            @include transition(0.2s);
            border-color: $main-color;
            @include border-R(10px);
            outline: none;
            float: left;
            &:hover {
              background-color: $main-color;
              border-color: $main-color;
              a {
                color: $h-color;
                text-decoration: none;
              }
            }

            a {
              color: $h-color;
              text-decoration: none;
            }
          }
        }
      }
      .col-md-5 {
        .img {
          @extend %main-div;
          height: 338px;
          width: 120px;
          background-image: url(../img/1.png);
          margin: 0 auto;
          margin-top: -100px;
          position: relative;
          overflow: hidden;
          margin-bottom: 20px;
          @media (max-width: 767px) {
            margin-top: 30px;
          }
        }
      }
    }
  }
  .main-sub {
    text-align: center;
    margin-top: 250px;
    position: relative;
    height: 150px;
    background-color: $main-color;
    color: $p-color;
    h4 {
      text-align: center;
      padding: 15px 0 10px 0;
      text-transform: capitalize;
      letter-spacing: 2px;
      color: $h-color;
    }
    input {
      width: 70%;
      height: 33px;
      background-color: transparent;
      border: 1px solid $h-color;
      @include border-R(10px);
      outline: none;
      padding-left: 15px;
      color: $h-color;
    }
    button {
      @extend %button;
      margin: 2px auto !important;
      @include border-R(10px);
      background-color: $second-color;
      border-color: $second-color;
      /*media for small screen*/
      @media (max-width: 575px) {
        width: 75px;
      }
      a {
        color: $h-color;
        text-decoration: none;
      }
    }
  }
}
/*start some info div elements style */
.som-info {
  margin-top: 150px;
  margin-bottom: 100px;
  .row {
    .col-md-4 {
      h3.head {
        width: 258px;
        font-size: 36px;
        span.style {
          color: $second-color;
          padding-bottom: 4px;
          &:before {
            position: absolute;
            top: 20px;
            border-bottom: 3px solid $second-color;
            @include border-R(2px);
            width: 20px;
          }
        }
      }
    }
    .col-md-8 {
      .cont {
        span {
          display: block;
          text-transform: capitalize;
          letter-spacing: 1px;
          color: #999;
          line-height: 1.5;
          text-align: left;
        }
        button {
          @extend %button;
          display: block;
          margin-left: 0;
          margin-top: 10px;
          outline: none;
          border: 1px solid $second-color;
          @include border-R(15px);
          @include transition(0.3s);
          &:hover {
            a {
              color: $h-color;
            }
          }
          a {
            text-decoration: none;
            color: $second-color;
            @include transition(0.3s);
          }
        }
      }
    }
  }
}

/*start style for our-team work*/
.team-info {
  .container {
    h3 {
      text-align: center;
      padding: 70px 0 50px 0;
      margin: 0 auto;
      text-transform: capitalize;
    }
    .row {
      .col-sm-12 {
        margin-top: 50px;
        @include transition(0.5s);
        box-shadow: 2px 2px 15px #ddd;
        overflow: hidden;
        &:hover {
          .main-co {
            .over {
              top: 0 !important;
            }
            .info {
              opacity: 1 !important;
              padding-top: 110px;
            }
          }
        }
        &:hover {
          box-shadow: none;
        }
        .main-co {
          overflow: hidden;
          background-image: url(../img/t-1.png);
          @extend %main-div;
          background-size: cover;
          height: 250px;

          .over {
            @include transition(0.4s);
            @extend %over;
            top: 100% !important;
            background-color: rgba($main-color, 0.8) !important;
          }
          .info {
            @include transition(0.5s);
            opacity: 0;
            padding-top: 50px;
            position: relative;
            text-align: center;
            margin: 0 auto;
            button {
              cursor: pointer;
              @include transition(1s);
              width: 30px;
              height: 30px;
              @include border-R(5px);
              border: 1px solid $second-color;
              background-color: $second-color;
              i {
              }
            }

            button.one {
              i {
                color: #3b5998;
              }
            }
            button.tow {
              i {
                color: #00a0dc;
              }
            }
            button.three {
              i {
                color: #1da1f2;
              }
            }
          }
        }
        span {
          display: block;
          padding: 10px 0 5px 0;
          font-weight: bold;
          text-transform: capitalize;
        }
        p {
          color: #666;
        }
      }
      .col-sm-12.tow .main-co {
        background-image: url(../img/t-2.png) !important;
      }
      .col-sm-12.three .main-co {
        background-image: url(../img/t-3.png);
        background-size: cover;
      }
    }
  }
}
/*start some-info div elements style*/
.some-info {
  @extend %main-div;
  padding-top: 100px;
  margin-bottom: 50px;
  .container {
    .row {
      .col-sm-12 {
        background-image: url(../img/8.jpg);
        .over {
          @extend %over;
          background-color: rgba($main-color, 0.9) !important;
        }
        .main-con {
          width: 90%;
          margin-left: 5%;
          position: relative;

          h4 {
            padding: 50px 0 20px 0;
            margin: 0 auto;
            color: $h-color;
            text-transform: capitalize;
            position: relative;
          }
          .cont {
            min-height: 30px;
            margin: 10px 0;
            i {
              color: $h-color;
            }
            span {
              display: inline;
              padding-left: 5px;
              margin: 10px 0;
              color: #eee;
              text-transform: capitalize;
            }
          }
          p {
            display: block;
            color: #eee;
            padding: 0 0 10px 0;
          }
          a {
            text-decoration: none;
            display: inline-block;
            padding: 0px 0 30px 0;
            text-transform: capitalize;
          }
        }
      }
      .col-sm-12:nth-of-type(2) {
        background-image: url(../img/4.jpg);
        background-size: cover;
        .over {
          background-color: rgba($second-color, 0.9) !important;
        }
      }
      .col-sm-12:nth-of-type(3) {
        background-image: url(../img/7.jpg);
        background-size: cover;
        .over {
          background-color: rgba(000, 000, 000, 0.7) !important;
        }
      }
    }
  }
}

/*start data div elements style */
.service {
  @extend %main-div;
  padding-top: 50px;
  .container {
    h3 {
      text-transform: capitalize;
      margin: 0 auto;
      padding-top: 50px;
      text-align: center;
      span {
        color: $main-color;
        display: inline-block;
        margin: 0 auto;
      }
    }
    span {
      display: block;
      margin: 10px 0 70px 0;
      text-align: center;
      text-transform: capitalize;
      span.style {
        display: block;
        margin-top: -5px;
      }
    }

    .col-sm-12 {
      overflow: hidden;
      padding-right: 0 !important;
      padding-left: 0 !important;

      /*?media for small screen*/
      @media (max-width: 768px) {
        margin-top: 50px;
      }

      span {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: $second-color;
        font-size: $main-font + 10px;
      }
      &:hover {
        .main-da {
          transform: scale(1.4);
          -webkit-transform: scale(1.4);
          -moz-transform: scale(1.4);
        }
        .over {
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
        }
      }
      .main-data {
        width: 80%;
        margin-left: 10%;
        text-align: left;
        h4 {
          padding: 50px 0 0 0;
          text-transform: capitalize;
        }
        p {
          padding: 10px 0 0px 0;
          color: #888;
          text-transform: capitalize;
        }
        button {
          @extend %button;
          margin-top: 15px !important;
          @include border-R(10px);
          background-color: $second-color;
          border-color: $second-color;

          a {
            text-decoration: none;
            color: $h-color;
            text-transform: capitalize;
          }
        }
      }
      .main-da {
        background-image: url(../img/8.jpg);
        background-size: cover;
        @include transition(0.5s);
        height: 350px;
        width: 100%;
        @media (min-width: 768px) and (max-width: 991px) {
          height: 600px;
          overflow: hidden;
        }
        .over {
          @extend %over;
          @include transition(0.5s);
          background-color: rgba($main-color, 0.8) !important;
        }
      }
    }
    .da-3 .main-da {
      background-image: url(../img/7.jpg);
    }
    .da-6 .main-da {
      background-image: url(../img/6.jpg);
    }
  }
}

/*start last-infor div elements style*/
.last-infor {
  background-image: url(../img/7.jpg);
  background-size: cover;
  @extend %main-div;
  min-height: 550px;
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.9) !important;
  }
  .container {
    position: relative;
    h3 {
      padding: 150px 0 0 0;
      text-transform: uppercase;
      font-weight: bold;
      color: $h-color;
      text-align: center;
    }
    span {
      display: block;
      margin: 10px auto;
      text-align: center;
      text-transform: capitalize;
      color: $p-color;
    }
    button {
      @extend %button;
      width: 220px;
      margin-left: calc(50% - 110px);
      @include border-R(10px);
      background-color: $second-color;
      border-color: $second-color;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $h-color;
        text-transform: capitalize;
      }
    }
  }
}
/*start footer style*/
footer {
  min-height: 500px;
  margin-top: 50px;
  .container {
    h3 {
      text-align: left;
      text-transform: capitalize;
      font-weight: bold;
      left: 0;
      padding: 80px 0 40px 0;
    }
    .row {
      .col-sm-12 {
        p {
          width: 80%;
          left: 0;
          text-align: left;
          /*media for small screen*/
          @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
          }
        }
        button {
          cursor: pointer;
          @include transition(0.5s);
          width: 30px;
          height: 30px;
          @include border-R(5px);
          border: 1px solid $second-color;
          background-color: $second-color;
          i {
          }
        }
        /*start second columan*/
        input:first-of-type {
          /*media for small screen*/
          @media (max-width: 767px) {
            margin-top: 50px;
          }
        }
        input {
          height: 40px;
          width: 90%;
          margin-left: 5%;
          font-size: $main-font - 1px;
          border: 1px solid $p-color;
          background-color: transparent;
          @include border-R(10px);
          margin-top: 10px;
          outline: none;
          padding-left: 10px;
          @include transition(0.1s);
          /*media for small screen*/
          @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
          }

          &:hover {
            box-shadow: 1px 2px 10px $p-color;
            -webkit-box-shadow: 1px 2px 10px $p-color;
            -moz-box-shadow: 1px 2px 10px $p-color;
          }
        }
        textarea {
          min-height: 150px;
          height: 170px;
          max-height: 250px;
          @include border-R(10px);
          @include transition(0.1s);
          font-size: $main-font - 1px;
          margin-top: 10px;
          width: 90%;
          margin-left: 5%;
          border: 1px solid $p-color;
          outline: none;
          padding-left: 10px;
          padding-top: 10px;
          /*media for small screen*/
          @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
          }

          &:hover {
            box-shadow: 1px 2px 10px $p-color;
            -webkit-box-shadow: 1px 2px 10px $p-color;
            -moz-box-shadow: 1px 2px 10px $p-color;
          }
        }
        button.send {
          height: 35px;
          @extend %button;
          background-color: transparent;
          border: 1px solid $second-color;
          margin-top: 10px !important;
          margin-left: 5%;
          /*media for small screen*/
          @media (max-width: 767px) {
            margin-left: 0;
          }

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #111;
          }
        }
      }
    }
  }
}
/*start copy style*/
.copy {
  background-color: $main-color;
  min-height: 40px;
  margin-top: 70px;
  .container {
    .row {
      .col-sm-6 {
        span {
          text-transform: capitalize;
          text-align: center;
          color: $h-color;
          line-height: 2.5;
          display: block;
        }
      }
    }
  }
}

/*start style for page loading*/
$width: 50px;
$height: 50px;

$dark: #323232;
$red: #ff5a5f;
$blue: #2ab7ca;
$light: #d7d0c8;

.main-load {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $h-color;
  z-index: 9999999;
  .spinner {
    display: flex;
    align-items: center;
    width: $width;
    height: $height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    &__bar {
      margin-right: 5px;
      height: 20px;
      width: 10px;
      border-radius: 5px;
      animation: bars 1000ms infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);

      &:last-child {
        margin: 0;
      }
    }
  }
}

.spinner__bar:nth-child(1) {
  animation-delay: 0ms;
  background: $dark;
}
.spinner__bar:nth-child(2) {
  animation-delay: 200ms;
  background: $red;
}
.spinner__bar:nth-child(3) {
  animation-delay: 400ms;
  background: $blue;
}
.spinner__bar:nth-child(4) {
  animation-delay: 600ms;
  background: $light;
}

@keyframes bars {
  0% {
    height: 20px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 20px;
  }
}
@-webkit-keyframes bars {
  0% {
    height: 20px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 20px;
  }
}
@-moz-keyframes bars {
  0% {
    height: 20px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 20px;
  }
}

/******************
  all coy right are reserved to this design   thanks for reading  this few word 

*****************/
